PORT=5000

NODE_ENV=development

APP_URL=http://localhost:5000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=trail_db
DB_USER=root
DB_PASSWORD=password

JWT_ACCESS_SECRET=access_secret
JWT_REFRESH_SECRET=refresh_secret
JWT_QR_SECRET=qr_secret

ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d

AES_SECRET_KEY=32_CHARACTER_SECRET_KEY_HERE

FCM_PROJECT_ID=
FCM_CLIENT_EMAIL=
FCM_PRIVATE_KEY=

EXPO_ACCESS_TOKEN=

BLOB_READ_WRITE_TOKEN=

MTN_API_KEY=
MTN_API_SECRET=

ORANGE_API_KEY=
ORANGE_API_SECRET=