.env

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-store/

.env
.env.local
.env.test
.env.*.local
.env.red
logs
*.log
*.tmp
*.pid
*.seed
*.pid.lock

dist/
build/
out/
tmp/
temp/
.cache/
coverage/
.next/
.nuxt/
.vite/
.svelte-kit/

.DS_Store
Thumbs.db


.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

coverage/
jest-cache/
.cypress/
playwright-report/


*.tsbuildinfo


*.tgz
*.zip
*.tar
*.gz
*.properties


*.local.json
database.sqlite
sql
node_modules
github
uploads/*
.scannerwork/
sonar-project.properties